* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
        --our_palegreen: #d0d3d1;
        --our_maroon: #a62e2e;
        --our_maroon2:  #b058582d;
        --our_lightblue: #daeaf6;
        --our_lightgreen: #ddedea;
        --our_darkgreen:#49877c;
        --our_lightyellow: #fcf4dd;
        --our_lightpurple: #e8dff5;
        --our_darkpurple:#ceabff;
        --our_grey: rgba(108, 108, 108, 0.104);
        --mixed_colors: linear-gradient(#cdffd8, #94b9ff);
}

body{
    margin: 0rem 1rem 0rem 1rem;
    font-family: 'Glacial Indifference', sans-serif;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-title{
    text-align: center;
    font-weight: 1;
    font-size: 1.5rem;
    background-color: var(--our_maroon2);
    margin: 2rem 0rem;
    padding: 0.5rem;
}
.main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    .upload{
        display: flex;
        width: 100%;
        justify-content: center;
        align-content: center;
    }

    .upload{
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        .upload-image{
            margin: 1rem;
            width: 20rem;
            border: 15px solid var(--our_maroon2);
            border-radius: 40px;
        }
        p{
            font-size: 1.2rem;
            /* color: var(--our_maroon); */
        }
    }
    a:hover{
        .upload-image{
             border-color: var(--our_maroon);
        }
     }
    form{
            display: grid;
            grid-template-columns: 1fr 2fr;
            width: 80%;

            border: var(--our_maroon) 1.8px solid;
            border-radius: 20px;
            /* color: var(--our_maroon); */
            font-weight: 2px;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

            padding: 3rem;
            margin: 1rem;
            margin-bottom: 2rem;

            /* background-color: --our; */

            input, label, textarea, select{
                margin: 1rem 0rem;
            }

            label{
                font-size: 1.4rem;
            }

            input {
                width: 100%;
                height: 45px;
                border: 1px solid var(--our_maroon);
                border-radius: 50px;
                box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
                padding: 15px ;
                background-color: var(--our_grey);
                grid-column: 2/3;
            }

            h2{
                grid-column: 1/3;
                text-align: center;
                /* font-weight: 1px; */
                margin: 0.5rem;
                font-size: 1.8rem;
            }
            
            textarea{
                width: 100%;
                border: 1px solid var(--our_maroon);
                border-radius: 15px;
                padding: 15px ;
                background-color: var(--our_grey);
            }

            select{
                width: 100%;
                border: 1px solid var(--our_maroon);
                border-radius: 50px;
                padding: 15px;
                box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
                background-color: var(--our_maroon2);
                font-size: 1rem;
                /* color: var(--our_maroon); */

            }
            .submit-button{
                grid-column: 1/3;
                width: 70%;
                padding: 0.2rem;
                justify-self: center;
                background-color: var(--our_maroon);
                color: white;
                font-size: 1.4rem;
            }
    }
}

footer{
    padding: 1rem;
    background-color: rgb(25, 24, 24);
    color: white;
    width: 100%;
  }

@media (min-width : 50rem){
    .main{
        display: grid;
        grid-template-columns: repeat(2, auto);
        .upload-image{
            align-self: center;
            justify-self: center;
        }
    }
}